
body {
    margin:0;
    padding: 0;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
}
.container {
    /* border: 1px solid black; */
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    /* display: inline-block; */
    border: 5px solid blue;
    padding: 2rem;
    background-color: rgba(170, 238, 235, .4);
    font-family: 'Roboto', sans-serif;
}
.dayColor {
    color: orangered;
}